<% var Title='Donate'; %>
<% include blocks/header.ejs %>
<body class="body-green">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon icon_gift"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                        <div class="content-inner">
                            <section id="chartjs" class="doc-section">
                                <div class="jumbotron text-center">
                                <p style="margin:0"><b style="font-size:120%">Big</b> Thank You to those already supporting! With you more time and effort can be put into Shinobi! <i class="fa fa-smile-o"></i></p>
                                </div>
                                <div class="jumbotron">
                                    <blockquote>
                                        <p>As much as I am happy with it now, I want to take Shinobi to the next level and I need community support to do it. Please consider subscribing to Shinobi Mobile or Shinobi Pro Licensing.</p>

                                        <p>Thanks for reading, take care!</p>
                                        <div>
                                            <a href="https://licenses.shinobi.video/subscribe?planSubscribe=plan_G31AZ9mknNCa6z" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-share-square-o" aria-hidden="true"></i> Shinobi Mobile License ($5/m)</a>
                                            <a href="https://licenses.shinobi.video/subscribe?planSubscribe=plan_G3LGdNwA8lSmQy" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-share-square-o" aria-hidden="true"></i> Shinobi Pro License ($75/m)</a> &nbsp;
                                        </div>
                                    </blockquote>
                                    <blockquote>
                                        <p><b>Can't do a monthly contribution? That's fine! Any amount helps!</b></p>
                                        <a class="btn btn-default btn-lg" href="https://www.paypal.me/ShinobiCCTV"><i class="fa fa-paypal"></i> Donate by Paypal</a>
                                    </blockquote>
                                 </div>
                                <div class="jumbotron">
                                <h3 class="block-title question">All these are also donations in a way <i class="fa fa-smile-o"></i></h3>

                                <ul>
                                <li>Hit the star on <a href="https://gitlab.com/Shinobi-Systems/Shinobi">GitLab</a>!</li>
                                <li>Spread the word!</li>
                                <li>Do bug reports in the <a href="//forum.shinobi.video">forum</a>.
                                </li>
                                <li>Checking out <a href="https://unmetered.online">UNMETERED</a> for goodies in IoT services.
                                </li>
                                <li>Watching, Commenting, and Subscribing to the <a href="https://www.youtube.com/watch?v=uwk4JLrPu9o&list=PL1dMbD_L-IDMNPeYJH-wWKrsVocRlY5B_">YouTube</a> videos</li>
                                </ul>

                                <p><em>Thanks for stopping by!</em></p>

                                <p>-Moe Alam</p>

                                <ul style="list-style:none;margin:0;padding:0;">
                                    <li><a href="http://discordapp.com/invite/mdhmvuH/"><i class="fa fa-comments"></i> Community Chat on Discord</a></li>
                                    <li><a href="//forum.shinobi.video"><i class="fa fa-commenting-o"></i> Shinobi Forum</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=uwk4JLrPu9o&list=PL1dMbD_L-IDMNPeYJH-wWKrsVocRlY5B_"><i class="fa fa-youtube"></i> Videos on YouTube</a></li>
                                    <li><a href="https://twitter.com/ShinobiCCTV"><i class="fa fa-twitter"></i> Notes on Twitter</a></li>
                                    <li><a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks"><i class="fa fa-facebook"></i> News on Facebook</a></li>
                                    <li><a href="https://gitlab.com/Shinobi-Systems/Shinobi"><i class="fa fa-gitlab"></i> Code on GitLab</a></li>
                                    <li><a href="https://bitbucket.com/ShinobiSystems/Shinobi"><i class="fa fa-bitbucket"></i> Code on Bitbucket</a></li></ul>
                                </div>
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                </div><!--//doc-body-->
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html>
